.Socail_icons{
    width: 30px;
    height: 30px;
}

.two_icon{
    position: relative;
    left: -5px;

}
.three_icon{
    position: relative;
    left: -15px;
}

.four_icon{
    position: relative;
    left: -25px;    
}

